<app-menubar></app-menubar>
<br>

<div class="container">
  <div class="card float-left" style="width:300px">
    <img class="" src="assets\images\hotdeals.png" alt="Card image" style="width:200px">
    </div>

    

    <div class="card mx-block" style="width:400px">
      <img class="" src="assets\images\dinein.png" alt="Card image" style="width:200px">
    </div>
      
    
  
      <div class="card float-right" style="width:400px">
        <img class="" src="assets\images\delivery.png" alt="Card image" style="width:200px">
      </div>
        
</div>