
<body>
	<div id="header">
		<div class="section">
			<a href="index.html"><img src="images/logo.png" alt="Image"></a>
			<ul>
				<li class="current">
					<a href="index.html">Home</a>
				</li>
				<li>
					<a href="farm.html">The Farm</a>
				</li>
				<li>
					<a href="blog.html">Blog</a>
				</li>
				<li>
					<a href="about.html">About</a>
				</li>
				<li>
					<a href="contact.html">Contact</a>
				</li>
			</ul>
		</div>
		<div id="figure">
			<div>
				<div>
					<span><a href="index.html">Subscribe Now</a></span>
					<ul>
						<li>
							<a href="index.html">Adult life membership healing is the best process</a>
						</li>
						<li>
							<a href="index.html">Teenage life membership preventing your body is the key</a>
						</li>
						<li>
							<a href="index.html">Early life membership the best thing is to start young</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<span></span>
	</div>
	<div id="body">
		<div>
			<div>
				<div>
					<div id="content">
						<h2>Welcome</h2>
						<div>
							<p>
								This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for free. You can replace all this text with your own text. You can remove any link to our website from this website template, you&#39;re free to use this website template without linking back to us.
							</p>
							<p>
								If you&#39;re having problems editing this website template, then don&#39;t hesitate to ask for help on the <a href="http://www.freewebsitetemplates.com/forums/">Forums</a>.
							</p>
							<p>
								This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for free. You can replace all this text with your own text. You can remove any link to our website from this website template, you&#39;re free to use this website template without linking back to us. If you&#39;re having problems editing this website template, then don&#39;t hesitate to ask for help on the <a href="http://www.freewebsitetemplates.com/forums/">Forums</a>.
							</p>
						</div>
					</div>
					<div id="sidebar">
						<h3>Featured Medicinal Recipes</h3>
						<ul>
							<li id="fruitsalad">
								<h2>Fresh Fruit Salad</h2>
								<p>
									Mouth watering<br><span>salad recipes for</span><br>every occasions...
								</p>
							</li>
							<li id="bakeapples">
								<h2>Baked Apples</h2>
								<p>
									A new twist of<br><span>green apples</span><br>turned to cakes..
								</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="footer">
		<div>
			<div>
				<div>
					<ul>
						<li>
							<img src="images/biking.png" alt="Image">
							<div>
								<h2>This is just a place holder</h2>
								<p>
									This website template has been designed by freewebsitetemplates for you, for free.
								</p>
							</div>
						</li>
						<li>
							<img src="images/children.png" alt="Image">
							<div>
								<h2>This is just a place holder</h2>
								<p>
									This website template has been designed by freewebsitetemplates for you, for free.
								</p>
							</div>
						</li>
					</ul>
				</div>
				<div>
					<div class="section">
						<span><img src="images/bakeapple.png" alt="Image"></span>
						<h3>Healhty Apples</h3>
						<p>
							If you&#39;re having problems editing this website template, then don&#39;t hesitate to ask for help on the <a href="http://www.freewebsitetemplates.com/forums/">Forums</a>.
						</p>
					</div>
					<div class="connect">
						<a href="http://freewebsitetemplates.com/go/googleplus/" target="_blank" class="googleplus">Google&#43;</a>
						<a href="http://www.freewebsitetemplates.com/misc/contact" target="_blank" class="mail">Mail</a>
						<a href="http://freewebsitetemplates.com/go/facebook/" target="_blank" class="facebook">Facebook</a>
						<a href="http://freewebsitetemplates.com/go/twitter/" target="_blank" class="twitter">Twitter</a>
					</div>
				</div>
			</div>
		</div>
		<div>
			<p class="footnote">
				&copy; 2010 All Apples. All Rights Reserved.
			</p>
		</div>
	</div>
</body>
