<app-menubar></app-menubar>
<br>
<div>
    <h2>Sign up</h2>
    <div class="card">
      <div class="card-body">
          <div class="container">
              <form action="/action_page.php">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="email" class="form-control" id="name" placeholder="Enter name" name="name">
                </div>
                <div class="form-group">
                  <label for="email">Email:</label>
                  <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                </div>
                <div class="form-group">
                    <label for="name">Phone no:</label>
                    <input type="pno" class="form-control" id="pno" placeholder="Enter phone no" name="pno">
                </div>
                <div class="form-group">
                    <label for="name">NIC:</label>
                    <input type="email" class="form-control" id="nic" placeholder="Enter NIC" name="nic">
                </div>
                
                <button type="submit" class="btn btn-primary">Become a member</button>
                <button type="submit" class="btn btn-primary">Continue</button>
                
              </form>
            </div>
      </div> 
    </div>
  </div>
  