
<div>
 <h2>Sign up</h2>
    <div class="card">
      <div class="card-body">
          <div class="container">
              <form #signupform="ngForm" (ngSubmit)="createUser()">
                <div class="form-group" >
                    <label for="name">Name:</label>
                    <input type="email" class="form-control" [(ngModel)]="user.name" id="name" placeholder="Enter name" name="name">
                </div>
                <div class="form-group" *ngIf="userError?.name">
                  <span class="text text-danger" >{{userError.name}}</span>
                </div>

                <div class="form-group">
                  <label for="email">Email:</label>
                    <input type="email" class="form-control"  [(ngModel)]="user.email" id=email placeholder="Enter Email" name="name">
                </div>
                <div class="form-group" *ngIf="userError?.email">
                  <span class="text-danger">{{userError.email}}</span>
                </div>
                <div class="form-group" *ngIf="userExists">
                  <span class="text-danger">User already exists</span>
                </div>
                <div class="form-group">
                    <label for="name">Phone no:</label>
                    <input type="pno" class="form-control"  [(ngModel)]="user.phoneno" id="pno" placeholder="Enter phone no" name="pno">
                </div>
                <div class="form-group" *ngIf="userError?.phoneno">
                  <span class="text-danger">{{userError.phoneno}}</span>
                </div>
                
                <div class="form-group">
                  <label for="pwd">Password:</label>
                  <input type="password" class="form-control" [(ngModel)]="user.password" id="pwd" placeholder="Enter password" name="pwd">
                </div>
                <div class="form-group" *ngIf="userError?.password">
                  <span class="text-danger">{{userError.password}}</span>
                </div>
                
                  <div class="form-group" *ngIf="repwd?.notEqual">Passwords mismatch</div>

                  <input type="submit" ng-disabled="userError"  required class="btn btn-info btn-mx-auto" value="Register">
              </form>
            </div>
                

      </div> 
    </div>
  </div>
  